.label_user_profile{
    /* color: #525252; */
    color: rgb(29, 95, 150);
    font-family: "montserratsemi_bold";
    font-size: 20px;
    width: 160px;
    line-height: 34px;
    text-align: center;
}
.input_user_profile{
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #cccccc;
    color: #959595;
    font-family: "montserratlight";
    height: 43px;
    padding: 0 16px;
    width: 80%;
}
.user_profile_row{
    margin-bottom: 15px;
}
.title{
    margin-top: 20px;
    
}
.page_user_title>h2{
    /* color: #696969; */
    color: rgb(29, 95, 150);
    line-height: 26px;
    margin-bottom: 15px;
    margin-top: 20px;
}
.page_user_title.p{
    margin-bottom: 0px;
    margin-top: 10px;
    font-size: 16px;
}
.page_user_title{
    text-align: center;
}
.user_profile_btn{
    width: 20%;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 30px;
    /* background-color: rgb(29, 95, 150); */
    margin-left: 42%;
}